.dcs-demo__title{
  font-size: 1rem;
  font-weight: bold;
  margin: .5rem 0;
  text-align: left;
}
.dcs-demo__content{
  font-size: 1rem;
  text-align: left;
  color: #19a0f0;
  margin-left: .5rem;
}

